@model verklegtVerkefni.Models.logIn

<html>
<body>
    @using (Html.BeginForm())
    {
      @Html.LabelFor(model => model.userName)
      @Html.TextBoxFor(s=>s.userName)
      @Html.LabelFor(model => model.password)
      @Html.PasswordFor(s=>s.password)
     <input type="submit" value="Log in" />
    }
</body>
</html>