/*bakgrunnur á bak við hvíta kassann*/
body
{
	margin-right:5%;
	margin-left:5%;
	margin-top: 50px;
    margin-bottom: 50px;
    background: linear-gradient(#ffffff, #e6e6e6);
}
/*Vinsælasta og nýjasta efni á vinsti hlið*/
.left
{
    float:left;
    width:15%;
    margin-top:380px;
    font-size:18px;
    margin-left:100px;
}
/*Auglýsinsgar á hægri hlið*/
.right
{
    margin-top:-375px;
    padding-bottom:200px;
    float:right;
    width:19%;
}
/*hvíti kassinn utan um allt main contentið*/
#mainContent
{
    background-color:white;
    margin-top:-80px;
    padding-bottom:300px;
    padding-right:100px;
    border:solid 1px #e1e1e1;
    border-radius:3px;
    box-shadow:0 0 4px #d6d6d6;
    width:1300px;
    max-width:100%;
}
/*miðjan á listi af beiðnum*/
.middleRequest
{
    margin-left:260px;
    padding-top:50px;
    width:80%;
}
/*taflan listi af beiðnum*/
#requestTable
{
    width:70%;
}
#requestTable th
{
    padding-bottom:10px;
    font-size:16px;
}
/*miðjan á leiðbeiningum*/
.middleInstruction 
{
    margin-top:70px;
    width:75%;
    position:inherit;
}
/*Miðjan á Hafa samband*/
.middleInformation
{
    margin-top:70px;
    width:75%;
    position:inherit;
}
/*Miðjan á search boxinu og upphala nýrri skrá*/
.middleMain
{
    padding-left:350px;
    padding-top:120px;
    font-size:30px;
    width:70%;
}
/*Miðjan á nýrri beiðni*/
.middleNewRequest
{
    width:100%;
    margin-left:100px;
    padding-left:240px;
    padding-top:50px;
}
.newRequestLink
{
    padding-top:30px;
}
.backNewRequest
{
    float:left;
}
/*Miðjan á að skoða beiðnir*/
.middleViewRequest
{
    width:50%;
    padding-top:10px;
    float:left;
}
#displayData
{
    margin-top:7px;
    font-weight:bold;
}
/*Miðjan á innskráningu*/
.middleLogIn
{
    padding-top:50px;
    margin-left:80px;
    width:100%;
}
#headerLogIn
{
    margin-bottom:20px;
}
#logInPartial 
{
    font-size:18px;
}
#logIn
{
    margin-top:-220px;
    float:right;
}
/*Miðjan á breyta lykilorði*/
.middleChangePassword
{
    margin-left:280px;
    padding-top:22px;
    width:100%;
    position:absolute;
}
/*Miðjan á nýskráningu*/
.middleRegister
{
    width:60%;
    padding-top:10px;
    float:left;
}
.logInRegister
{
    padding-right:16px;
    padding-top:10px;
}
/*Miðjan á að upphala nýrri skrá*/
.middleUpload 
{
    float: left;
    width: 70%;
}
.newRequestHeader
{
    margin-left:-40px;
}
.uploadNewFile
{
    padding-top:20px;
    float:none;
}
/*Miðjan á leitarniðurstöðum*/
.middleSearchResults
{
    width:60%;
    float:left;
}
#searchTable th
{
    padding-bottom:10px;
    font-size:16px;
}
#searchTable
{
    margin-top:20px;
    width:70%;
}
/*Miðjan á nýjustu og vinsælustu töflunum*/
.middleTables
{
    width:80%;
    margin-left:150px;
    padding-top:50px;
}
#filesTableNewest th
{
    padding-bottom:10px;
    font-size:16px;
}
#filesTablePopular th
{
    padding-bottom:10px;
    font-size:16px;
}
#filesTableNewest
{
    margin-top:20px;
    width:80%;
}
#filesTablePopular
{
    margin-top:20px;
    width:80%;
}
.popular 
{
    margin-top:-360px;
    padding-bottom:20px;
    font-family:Arial, sans-serif;
}
.popular li
{
    list-style-type:none;
    text-decoration:none;
    margin-left:-30px;
    font-size:14px;
}
.popular a
{
    color:black;
}
.newContent a
{
    color:black;
}
#seeMorePopular
{
    margin-top:10px;
    padding-left:15px;
}
#seeMoreNewContent
{
    margin-top:10px;
    padding-left:15px;
}
.newContent li
{
    list-style-type:none;
    margin-left:-30px;
    font-size:14px;
}
/*Inní öllum töflum*/
.tableCenter
{
    text-align:center;
}
#tableCenter
{
    text-align:center;
}
.nameLength
{
    width:30%;
}
#totalLikes_2
{
    width:10%;
}
.marginForLike
{
    margin-left:10px;
}
/*Partur af layout-i sem birtist á öllum viewum*/
.logoLink
{
    background-image: url("~/images/hipsterLogo.png");
    width:339px;
    height:116px;
}
#logo
{
	margin:50px;
	clear:both;
    padding-top:-100px;
}
h4
{
    font-size:22px;
}
.account li
{
    list-style-type:none;
    display:inline;
    font-size:18px;
}
.account li a
{
    text-decoration:none;
}
.linkLogIn
{
    padding-left:20px;
}
.footerMain
{
    bottom:0;
    width:1300px;
    max-width:100%;
    height:80px;
    left:0;
    background:#363738;
    color:white;
    padding-left:280px;
    padding-top:25px;
    font-family:Arial, sans-serif;
    font-size:16px;
    border:solid 1px #363738;
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px;
}
.footerMain p
{
    display:inline;
    margin-left:30px;
}
/*Navigation sem birtist í öllum viewum*/
#navigation
{
    margin-top:-90px;
    margin-left:250px;
    border-radius:3px;
    background: #363738;
    width: 76%;
}
#navigation li
{
    display:inline;
    letter-spacing:-1px;
}
#navigation a
{
	text-decoration:none;
}
#navigation ul 
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}
#navigation ul:after 
{
    content: ' ';
    display: block;
    clear: both;
}
#navigation ul li
{
    float: left;
}
#navigation ul li a
{
    color: #9e9598;
    display: block;
    padding: 10px 20px;
    font-family:Arial, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 24px;
    position: relative;
    transition: color .35s;
}
#navigation ul li a:hover 
{
    color: #ebdde4;
}
#navigation ul li a:hover:before 
{
    width: 100%;
}
#navigation ul li a:after 
{
    background: #9e9598;
}
#navigation ul li a:before 

{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #ebdde4;
    transition: width .35s;
}
#navigation ul li.active a 
{
    color: #ebdde4;
}



