body
{
	margin-right:5%;
	margin-left:5%;
	margin-top: 50px;
    margin-bottom: 50px;
    background: linear-gradient(#ffffff, #e6e6e6);
}
.left
{
    float:left;
    width:19%;
    margin-top:380px;
    font-size:18px;
    margin-left:100px;
}
.right
{
    margin-top:40px;
    float:right;
    width:19%;
}
.middleRequest
{
    margin-left:260px;
    margin-top:-620px;
    width:70%;
}

#requestTable
{
    width:70%;
}
#searchBox
{
    margin-bottom:20px;
}
.middleMain
{
    margin-top:-700px;
    padding-left:350px;
    padding-top:120px;
    font-size:30px;
}
.middleNewRequest
{
    margin-left:310px;
    margin-top:-650px;
    width:100%;
}
.middleLogIn
{
    margin-left:100px;
    margin-top:-650px;
    padding-left:180px;
}
.middleChangePassword
{
    margin-left:280px;
    margin-top:-660px;
    width:100%;
    position:absolute;
}
.middleRegister
{
    margin-left:280px;
    margin-top:-650px;
    width:100%;
}
#headerLogIn
{
    margin-bottom:20px;
}
.text-box single-line
{
    width:100%;
}
#logo
{
	margin:50px;
	clear:both;
    padding-top:20px;
}
#navigation
{
    text-align:center;
    margin-top:-90px;
}
#navigation li
{
    display:inline;
    text-decoration:none;
    font-size:30px;
    margin-left:10px;
    font-family:Arial, sans-serif;
    letter-spacing:-3px;
    font-size:30px;
    text-transform:uppercase;
}
#navigation a
{
	text-decoration:none;
	color:black;
}

#logIn
{
    margin-top:-220px;
    float:right;
}
#mainContent
{
    background-color:white;
    margin-top:-80px;
    padding-bottom:700px;
    padding-right:100px;
    border:solid 1px #e1e1e1;
    border-radius:3px;
    box-shadow:0 0 4px #d6d6d6;
    width:1300px;
    max-width:100%;
}
th
{
 
}

.popular 
{
    margin-top:-360px;
    padding-bottom:20px;
    font-family:Arial, sans-serif;
}
.popular li
{
    list-style-type:none;
    text-decoration:none;
    margin-left:-30px;
    font-size:14px;
}
.popular a
{
    color:black;
}
.newContent a
{
    color:black;
}
#seeMorePopular
{
    margin-top:10px;
    padding-left:15px;
}
#seeMoreNewContent
{
    margin-top:10px;
    padding-left:15px;
}
.newContent li
{
    list-style-type:none;
    margin-left:-30px;
    font-size:14px;
}
h4
{
    font-size:22px;
}
/*#nextPrevButton {
     background-color:blue;
     padding: 5px 10px 5px 10px;
     text-align: center;
     font-weight: bold;
     color: #fff;
     text-decoration: none; border: 1px inset #aaa;
     -webkit-border-radius: 8px; width: auto; -moz-border-radius: 8px;  -khtml-border-radius: 8px;  border-radius: 8px;
     -moz-box-shadow: 1px 1px 1px #666;  -webkit-box-shadow: 1px 1px 1px #666;  box-shadow: 1px 1px 1px #666;
     text-shadow: rgba(0,0,0, .5) 0px -1px 0px;
      border-top: inset 1px #ccc; border-left: inset 1px #ccc; border-bottom: solid 1px solid #000; border-right: 1px solid #666;
     margin-top: 20px;
     margin-right:500px;
	margin-left: 500px;
    font-size:16px;
    border-collapse:collapse;
}*/

/*#nextPrevButton:hover  {
     background: #999;
     text-shadow: rgba(0,0,0, .5) 0px 1px 0px;
}*/
#Ad2,
#Ad1,
#Ad3
{
	border:solid 2px black;
    padding:60px;
    padding-right:30px;
    margin-bottom:10px;
}