body
{
	margin-right:5%;
	margin-left:5%;
	margin-top: 50px;
    margin-bottom: 50px;
    background: linear-gradient(#ffffff, #e6e6e6);
}
.left
{
    float:left;
    width:19%;
    margin-top:380px;
    font-size:18px;
    margin-left:100px;
}
.right
{
    margin-top:-375px;
    padding-bottom:200px;
    float:right;
    width:19%;
}
#requestTable
{
    width:70%;
}
#searchBox
{
    margin-bottom:20px;
}
#mainContent
{
    background-color:white;
    margin-top:-80px;
    padding-bottom:300px;
    padding-right:100px;
    border:solid 1px #e1e1e1;
    border-radius:3px;
    box-shadow:0 0 4px #d6d6d6;
    width:1300px;
    max-width:100%;
}
.middleRequest
{
    margin-left:260px;
    padding-top:50px;
    width:80%;
}
.middleInstruction 
{
    margin-top:70px;
    width:75%;
    position:inherit;
}
.middleInformation
{
    margin-top:70px;
    width:75%;
    position:inherit;
}
.middleMain
{
    padding-left:350px;
    padding-top:120px;
    font-size:30px;
}
.middleNewRequest
{
    margin-left:100px;
    padding-left:240px;
    padding-top:50px;
}
.middleViewRequest
{
    width:60%;
    padding-top:10px;
    float:left;
}
.middleLogIn
{
    padding-top:40px;
    margin-left:100px;
    padding-left:180px;
    width:100%;
}
.middleChangePassword
{
    margin-left:280px;
    padding-top:22px;
    width:100%;
    position:absolute;
}
.middleRegister
{
    width:60%;
    padding-top:10px;
    float:left;
}
.newRequestLink
{
    padding-top:30px;
}
.backNewRequest
{
    float:left;
}
#headerLogIn
{
    margin-bottom:20px;
}
.logInRegister
{
    padding-right:16px;
}
.text-box single-line
{
    width:100%;
}
.logoLink
{
    background-image: url("~/images/hipsterLogo.png");
    width:339px;
    height:116px;
}
#logo
{
	margin:50px;
	clear:both;
    padding-top:-100px;
}
#navigation
{
    margin-top:-90px;
    margin-left:250px;
    border-radius:3px;
}
#navigation li
{
    display:inline;
    letter-spacing:-1px;
}
#navigation a
{
	text-decoration:none;
}
#logIn
{
    margin-top:-220px;
    float:right;
}
col-md-10
{
    height:200px;
}
.newRequestHeader
{
    margin-left:-40px;
}
.popular 
{
    margin-top:-360px;
    padding-bottom:20px;
    font-family:Arial, sans-serif;
}
.popular li
{
    list-style-type:none;
    text-decoration:none;
    margin-left:-30px;
    font-size:14px;
}
.popular a
{
    color:black;
}
.newContent a
{
    color:black;
}
#seeMorePopular
{
    margin-top:10px;
    padding-left:15px;
}
#seeMoreNewContent
{
    margin-top:10px;
    padding-left:15px;
}
#searchBox
{
    border-radius:3px;
}
.newContent li
{
    list-style-type:none;
    margin-left:-30px;
    font-size:14px;
}
h4
{
    font-size:22px;
}
.account li
{
    list-style-type:none;
    display:inline;
    font-size:18px;
}
.account li a
{
    text-decoration:none;
}
.linkLogIn
{
    padding-left:20px;
}
.footerMain
{
    bottom:0;
    max-width:100%;
    height:80px;
    left:0;
    background:#363738;
    color:white;
    padding-left:280px;
    padding-top:25px;
    font-family:Arial, sans-serif;
    font-size:16px;
    border:solid 1px #363738;
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px;
}
.footerMain p
{
    display:inline;
    margin-left:30px;
}
#navigation 
{
    background: #363738;
    width: 76%;

}
#navigation ul 
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}
#navigation ul:after 
{
    content: ' ';
    display: block;
    clear: both;
}
#navigation ul li
{
    float: left;
}
#navigation ul li a
{
    color: #9e9598;
    display: block;
    padding: 10px 20px;
    font-family:Arial, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 24px;
    position: relative;
    transition: color .35s;
}
#navigation ul li a:hover 
{
    color: #ebdde4;
}
#navigation ul li a:hover:before 
{
    width: 100%;
}
#navigation ul li a:after 
{
    background: #9e9598;
}
#navigation ul li a:before 

{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #ebdde4;
    transition: width .35s;
}
#navigation ul li.active a 
{
    color: #ebdde4;
}



