@{
    ViewBag.Title = "newest";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>newest</title>
</head>
<body>
    <div> 
        <p>hérna kemur inn nýjasta efnið</p>
    </div>
</body>
</html>
