@{
    ViewBag.Title = "Home Page";
}
<!--forsida-->
<!DOCTYPE html>
<html lang="is">
<head>
    <title>textit</title>
    <link rel="stylesheet" type="text/css" href="~/Content/main.css" media="screen, projection" />
    <script src="JavaScript.js"></script>
</head>
<body>
    <div id="mainContent">
        <div id="header">
            <div id="logo">
                <a href="#"><img src="~/images/logo.jpg"></a>
            </div>
            <div id="navigation">
                <ul>
                    <li>@Html.ActionLink("Forsíða", "Index", "Home")</li>
                    <li> @Html.ActionLink("Beiðnir", "listOfRequests", "requests")</li>
                    <li>@Html.ActionLink("Leiðbeiningar", "instructions", "Home")</li>
                    <li><a href="#">Hafa samband </a></li>
                </ul>
            </div>
        </div>
        <div id="logIn">
            <select name="LogIn">
                <option value="userName">BubblePrincess</option>
                <option value="profile">Prófíll</option>
                <option value="logOut">Skrá út</option>
            </select>
        </div>

        <div class="middle">
            <form method="get">
                <input type="search" id="searchBox" name="searchBox" value="Leita" />
                <input type="submit" value="Leita" />
            </form>
            <a href="#" id="newFile">Upphala nýrri skrá</a>
        </div> <!--middle content lokast-->
        <div class="left">
            <div class="popular">
                <h4> Vinsælast </h4>
                <ul id="listOfPopular">
                    <li><a href="#">Textaskrá 1</a></li>
                    <li><a href="#">Textaskrá 2</a></li>
                    <li><a href="#">Textaskrá 3</a></li>
                    <li><a href="#">Textaskrá 4</a></li>
                    <li><a href="#">Textaskrá 5</a></li>
                    <li id="seeMorePopular"><a href="#">Sjá meira</a></li>
                </ul>
            </div>

            <div class="newContent">
                <h4> Nýjasta efni </h4>
                <ul id="listOfNewContent">
                    <li><a href="#">Textaskrá 1</a></li>
                    <li><a href="#">Textaskrá 2</a></li>
                    <li><a href="#">Textaskrá 3</a></li>
                    <li><a href="#">Textaskrá 4</a></li>
                    <li><a href="#">Textaskrá 5</a></li>
                    <li id="seeMoreNewContent"><a href="#">Sjá meira</a></li>
                </ul>
            </div>
        </div> <!--Left content lokast-->

        <div class="right">
            <div id="Ads">
                <div id="Ad1">
                    <p> Auglýsing 1 </p>
                </div>
                <div id="Ad2">
                    <p> Auglýsing 2 </p>
                </div>
                <div id="Ad3">
                    <p> Auglýsing 3 </p>
                </div>
            </div>
        </div><!--right content lokast-->
    </div> <!--maincontent lokast-->
</body>
</html>