@model verklegtVerkefni.Models.search
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}
<!--forsida-->
<!DOCTYPE html>
<html lang="is">
<head>
    <title>textit</title>
    <link rel="stylesheet" type="text/css" href="~/Content/main.css" media="screen, projection" />
</head>
<body>

<div class="middleMain">
    @using (Html.BeginForm("searchResults", "file", FormMethod.Post))
    {
        <div class="searchBoxIndex">
            @Html.EditorFor(model => model.searchTerms)
            <!--<input type="search" id="searchBox" name="searchBox" placeholder="Leita..." />-->
            <input type="submit" id="searchButtonIndex" value="Leita"/>
        </div>
        if (Request.IsAuthenticated)
        {
            <div class="uploadNewFile">
                @Html.ActionLink("Upphala nýrri skrá", "uploadFile", "file")
            </div>
        }
        
    }
</div> <!--middle content lokast-->

</body>
</html>