@model verklegtVerkefni.Models.search

@{
    ViewBag.Title = "Home Page";
}
<!--forsida-->
<!DOCTYPE html>
<html lang="is">
<head>
    <title>textit</title>
    <link rel="stylesheet" type="text/css" href="~/Content/main.css" media="screen, projection" />
    <script src="JavaScript.js"></script>
</head>
<body>

<div class="middleMain">
    @Html.BeginForm("searchResults", "file")
    {   
        @Html.LabelFor(model => model.searchTerms, new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.searchTerms)
        <!--<input type="search" id="searchBox" name="searchBox" placeholder="Leita..." />-->
        <input type="submit" value="Leita" />
    }
    @Html.ActionLink("Upphala nýrri skrá", "uploadFile", "file")
</div> <!--middle content lokast-->

</body>
</html>