@{
    ViewBag.Title = "Hafa samband";
}
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Content/main.css" media="screen, projection" />
</head>
<!--Hafa samband-->
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Content/main.css" media="screen, projection" />
</head>
    <div class="middleInformation">
        <h2>Hafa samband</h2>
        <p>Email: textit@textit.is</p>
        <p>Símanúmer: 555-5555</p>
    </div>
