@{
    ViewBag.Title = "Hafa samband";
}
<!--Hafa samband-->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/main.css" media="screen, projection" />
    <title>Hafa Samband</title>
</head>
<body>

</body>
</html>
