@{
    ViewBag.Title = "Hafa samband";
}
<!--Hafa samband-->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/main.css" media="screen, projection" />
    <title>Hafa Samband</title>
</head>
<body>
    <div class="middleInformation">
        <h2>Hafa samband</h2>
        <p>Email: textit@textit.is</p>    
        <p>Símanúmer: 555-5555</p>
    </div>
</body>
</html>
